/**
 * Courseware Stylesheet
 */

/* Courses */
#courseware-course-header {
    clear: both; margin: 0 0 20px; border-radius: 3px;
    -webkit-border-radius: 3px; -moz-border-radius: 3px;
    border: 1px dotted #DDD; padding: 5px; }
#courseware-course-header .course-meta { text-align: right; font-style: italic; }
#new-course-content #course-title { margin-top: 10px; }
.courseware-content-wrapper { overflow: hidden; margin-bottom: 20px; }
h4.courseware-title { margin-bottom: 5px; font-weight: bold; }
.courseware-content {
    border-radius: 3px; -webkit-border-radius: 3px;
    -moz-border-radius: 3px; border: 1px solid #DDD; padding: 10px; }
.courseware-sidebar { float: right; width: 200px; margin: 0 0 20px 10px; padding: 5px 10px; background: #EAEAEA; border: 1px solid #DDD; }
.courseware-sidebar div:last-child { text-align: right; }
.courseware-sidebar input[type="text"], .courseware-sidebar select { font-size: 13px !important; padding: 4px !important; }
h4.meta { margin-bottom: 0; font-weight: bold; }
h4.meta.padded { margin-bottom: 10px; }
ul.courseware-meta { list-style: none; }
ul.courseware-meta li { padding: 5px 0; }
.courseware-content ul { list-style: inside disc; }
.courseware-content ol { list-style: inside decimal; }
.courseware-content ul ul, .courseware-content ol ol { margin-left: 10px; }
.courseware-content ul ol, .courseware-content ol ul { margin-left: 10px; }

/* Lectures */
#lectures-tree h4 { border-bottom: 1px solid #DDD; clear: both; margin-bottom: 2px; }
#lectures-search { float: right; margin-top: -35px; }
#lectures-tree-toggle { line-height: 25px; }
#lectures-tree-container ul, ol { margin: 0 1.5em 1.5em 0; padding-left: 1.5em; }
#lectures-tree-container > ul { padding-left: 0 !important; border: none !important; }
#lectures-tree-container ul { background: none; border-left: 1px dotted #DDD; }
#lectures-tree-container li ul,
#lectures-tree-container li ol { margin: 0 !important; }
#lectures-tree-container ins { background: none; }
#lectures-tree-container .jstree-closed > ul { display: none; }
#lectures-tree-container .jstree-open > ul { display: block; }
#lectures-tree-container li > ins {
    width: 20px;
    height: 20px;
    display: block;
    float: left;
    background: transparent url("../../../../../wp-admin/images/arrows.png") no-repeat 0 10px;
}
#lectures-tree-container .jstree-leaf ins { background: transparent url("../../../../../wp-admin/images/press-this.png") no-repeat -50px 0px; }
#lectures-tree-container .jstree-open > ins { background-position: 0 2px; }
#lectures-tree-container .jstree-closed > ins { background-position: 0 -107px; }
#lectures-tree-container .jstree-search { background-color: #FFC; }

/* Bibliography */
#courseware-bibs h4 { border-bottom: 1px solid #DDD; clear: both; }
#courseware-bibs-form,
#courseware-responses-list { margin-right: 200px; overflow: hidden; margin: 10px 0; }
#courseware-bibs-form .book .left-part { float: left; width: 45%; margin: 0; padding: 0; }
#courseware-bibs-form .book .left-part label { margin-top: 0; }
#courseware-bibs-form .book .midl-part { float: left; width: 10%; margin: 0; padding: 0; padding-top: 20px; }
#courseware-bibs-form .book .right-part { float: left; width: 45%; margin: 0; padding: 0; }
#courseware-bibs-form .book .right-part label { margin-top: 0; }

/* Responses */
#courseware-responses-list ul { list-style: decimal; list-style-position: inside; }
#courseware-responses-list ul li { line-height: 30px; }
.response-quiz-result { padding: 5px; text-align: center; font-weight: bold; font-style: italic; }

/* Bibliography */
#courseware-new-bibliography label { display: block; }
.courseware-form-section input[type="text"] { margin: 5px 0; }

/* Gradebook */
#courseware-gradebook .import-gradebook-form textarea { height: 40px; width: 98%; margin-bottom: 10px; }
#courseware-gradebook .student_info img { width: 20px; height: 20px; }
#courseware-gradebook .private_comment textarea,
#courseware-gradebook .public_comment textarea { width: 90%; height: 20px; }
#courseware-gradebook .dataTables_filter input { width: auto; padding: 0 2px; font-weight: normal; font-size: 12px; }


/* Assignments & Schedules */
#courseware-schedules-list h4.meta,
#courseware-assignments-list h4.meta { border-bottom: 1px solid #DDD; clear: both; }
.fc-state-default.ical a span { white-space: normal; }
.fc-state-default.ical a span img { padding: 0 !important; margin-right: 5px; }
.fc-header-title { font-style: italic; font-weight: normal; }
.fc-event,
.fc-agenda .fc-event-time,
.fc-event a { border-color: #555 !important; background-color: #888 !important; }
.fc-event a:hover { color: inherit; }
.fc-event a:hover .fc-event-title { color: inherit; text-decoration: underline; }
#new-assignment-form textarea { margin-top: 10px; }
#new-assignment-form #repetition_times { width: 25px; font-size: 12px; }
#new-assignment-course select,
#schedule-course select,
#new-schedule-course select { width: 190px; }
#assignment-quiz,
#response-quiz { margin: 10px 0 10px; border-top: 1px solid #DDD; }
#assignment-quiz ol,
#response-quiz ol { font-size: 20px; color: #999; font-style: italic; margin: 0 0 10px 30px; list-style: outside decimal; }
#assignment-quiz ol li *,
#response-quiz ol li *{ font-size: 12px; color: #444; font-style: normal; }
#assignment-quiz .row label,
#response-quiz .row label{ display: inline !important; font-weight: normal; }
#assignment-quiz-submit { text-align: right; }

/* Responses */
#response-body .answers .wrong { color: #CC0000 !important; }
#response-body .answers .correct { color: #1A9B00 !important; }
#courseware-responses-list h4.meta { border-bottom: 1px solid #DDD; clear: both; }

/* Courseware action buttons */
.courseware a.action, #message a.action {
    border-radius: 3px; font-size: 12px;
    -webkit-border-radius: 3px; -moz-border-radius: 3px;
    border: 1px solid #DDD; text-decoration: none; color: #888; padding: 4px 10px;
    background: #FFF url('../../../buddypress/bp-themes/bp-default/_inc/images/white-grad.png') repeat-x;
    cursor: pointer; vertical-align: bottom; }
.courseware a.alert, input.alert { color: #CC0000 !important; }
.courseware a.safe, input.safe { color: #1A9B00 !important; }
ul.courseware-meta li a.action { display: block; width: 90%; }

/* Group Header Notification */
#item-header #message.info { clear: both; margin-bottom: 15px; }
#item-header #message.help { clear: none; margin-bottom: 15px; }
#item-header #message.info p { padding-top: 15px; padding-bottom: 15px; }

/* Group Dashboard */
#group-dashboard { margin-bottom: 20px; }
#group-dashboard h4.padded { margin-top: 20px; margin-bottom: 5px; border: none; }
#group-dashboard a.action { padding: 0 4px; }
#group-dashboard .courseware-content { border-style: dotted; }
#group-dashboard ul.details { padding: 5px 10px; }
#group-dashboard ul.marked { list-style: inside circle; }
#group-dashboard ul li { border-bottom: 1px solid #DDD; padding: 5px 0; }
#group-dashboard ul li:last-child { border: none; }
#group-dashboard #user-grades { width: 100%; height: 30px; }
#group-dashboard #wp-calendar { margin-top: 10px; }
#group-dashboard #wp-calendar #today { font-weight: bold; color: #CC0000; }
#group-dashboard #wp-calendar caption { font-style: italic; font-weight: bold; }
#group-dashboard #wp-calendar thead tr { background: none; border-bottom: 1px solid #DDD; }
#group-dashboard #wp-calendar tfoot { display: none; }
#group-dashboard #wp-calendar tr td,
#group-dashboard #wp-calendar tr th { padding: 1px; text-align: center; }

/* DataTables customization */
.courseware .fg-toolbar{ color: #444; padding: 3px; }
.courseware .fg-button { cursor: pointer; padding: 0 5px; }
.courseware table table thead * { padding: 3px; white-space: nowrap; }
.courseware table table tbody * { padding: 3px; vertical-align: middle; }
.courseware .fc td, .courseware .fc th { padding: 0; }
.courseware table .css_right { float: left; vertical-align: middle; padding: 0; }
.courseware table .cover { padding: 0; min-height: 40px; }
.courseware table tbody a { padding: 0; }
.courseware table .actions { white-space: nowrap; }
.courseware table .start-date { white-space: nowrap; padding: 0 5px; }
.courseware table .end-date { white-space: nowrap; padding: 0 5px; }
.courseware table .schedule-meta,
.courseware table .course-meta, .courseware table .assignment-meta { font-style: italic; }
.courseware table .location { width: 300px; }
.courseware table thead tr th { cursor: pointer; }
.courseware .dataTables_info { margin-right: 5px; }
.courseware .dataTables_wrapper table { border: 1px solid #DDD; }
.courseware .dataTables_paginate { background-color: #DDD; }

/* Helpers */
input.long,
textarea.long,
select.long { width: 98% !important; }
input[type="submit"] { margin-top: 5px; }
.submits { margin: 10px 0 2px 0 !important; }
.clearall { clear: both; height: 1px; }
.clearall.fat { margin: 10px 0; }
input.number { width: 30px !important; text-align: right; }
.inline { display: inline !important; }

/* Icons */
h4 .icon {
    background-image: url("../../../../../wp-admin/images/menu.png");
    background-repeat: no-repeat;
    background-position: -330px -39px;
    width: 26px;
    height: 20px;
    display: block;
    float: left;
    overflow: hidden;
}
h4.general .icon { background-position: -60px -39px; }
h4.assignments .icon { background-position: 0 -39px; }
h4.schedules .icon { background-position: -270px -39px; }
h4.responses .icon { background-position: -30px -39px; }
h4.grades .icon { background-position: -240px -39px; }
h4.courses .icon { background-position: -150px -39px; }
h4.bibs .icon { background-position: -90px -39px; }
h4.lectures .icon { background-position: -120px -39px; }

/**
 * MALO CSS Grid
 * @see: http://code.google.com/p/malo/
 */
.grid {  margin:0 auto; padding: 0; width:100%; }
.dp20,
.dp25,
.dp33,
.dp50,
.dp75,
.dp100{float:left; display: inline; *margin-left:-0.04em; } /* IE margin hack */
/* dp = div percet */
.dp20{width:20%;}
.dp25{width:25%;}
.dp33{width:33.33%;}
.dp50{width:50%;}
.dp75{width:75%;}
.dp100{width:100%;}
.clear{ clear:both;}