/**
 * Editor Screens
 */
#editor-toolbar { margin: 10px 0 0; }
#editorcontainer {
    border: 1px solid #DDD;
    border-collapse: separate;
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-top-right-radius: 6px;
    -webkit-border-top-left-radius: 6px;
    -khtml-border-top-right-radius: 6px;
    -khtml-border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    clear: both;
}
#editorcontainer table *,
#mce_fullscreen_container table * { padding: 0; }
#editorcontainer textarea {
    width: 99%; border: none;
    border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0; margin-top: -1px; }
#edButtonHTML,
#edButtonPreview {
    background-color: #F1F1F1; padding: 2px 10px;
    -moz-border-radius-topleft: 5px; -moz-border-radius-topright: 5px;
    -webkit-border-top-left-radius: 5px; -webkit-border-top-right-radius: 5px;
    border-top-left-radius: 5px; border-top-right-radius: 5px;
    float: right; margin-right: 5px; cursor: pointer; border: 1px solid #DDD;
    border-bottom: 0; margin-bottom: -1px; color: #999; }
#edButtonHTML { margin-right: 10px; }
#edButtonHTML.active,
#edButtonPreview.active {
    color: #444; cursor: pointer; font-weight: bold; background-color: #EEE; border-bottom: 1px solid #EEE; }
#ed_toolbar {
    clear: both; background-color: #EEE; padding: 2px; border: 1px solid #DDD;
    border-radius: 5px 5px 0 0; -webkit-border-radius: 5px 5px 0 0; -moz-border-radius: 5px 5px 0 0; }
#ed_toolbar input { padding: 2px 4px; margin: 1px; }
.mceToolbar { padding: 2px; background: #EEE; }
#mce_fullscreen_container .mceToolbar { padding: 4px 2px; background: #EEE; }
#editorcontainer .mceStatusbar { border-top: 1px solid #DDD; background: #EEE; }
#editorcontainer .mceStatusbar div { padding: 2px; }
#mce_fullscreen_container .mceStatusbar { border-top: 1px solid #DDD; background: #EEE; }
#mce_fullscreen_container .mceStatusbar div { padding: 2px; }
#editorcontainer .mceButton,
#editorcontainer .mceListBox td a,
#editorcontainer .mceSplitButton td a { border: 1px solid #CACACA; color: #444; }
#mce_fullscreen_container .mceButton,
#mce_fullscreen_container .mceListBox td a,
#mce_fullscreen_container .mceSplitButton td a { border: 1px solid #CACACA; color: #444; }
.mceMenu,
.mceColorSplitMenu { border: 1px solid #CACACA; background-color: #FFF; }
.mceMenuItem a { color: #444; cursor: pointer; }
.mceMenuItem:hover { background: #EEE; }
.zerosize { display: none; }

#mceModalBlocker { background: #000; }
#mce_fullscreen_container { background: #fff; }

/* Media Buttons */
#media-toolbar { padding: 4px 4px 0; float: left; }
#media-toolbar a { margin: 0 5px; }

/* Modal windows */
.clearlooks2 .mceFocus .mceTop .mceLeft {
    background: #444;
    border-left: 1px solid #999;
    border-top: 1px solid #999;
    -moz-border-radius: 4px 0 0 0;
    -webkit-border-top-left-radius: 4px;
    -khtml-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
}

.clearlooks2 .mceFocus .mceTop .mceRight {
    background: #444;
    border-right: 1px solid #999;
    border-top: 1px solid #999;
    border-top-right-radius: 4px;
    -khtml-border-top-right-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius: 0 4px 0 0;
}

.clearlooks2 .mceMiddle .mceLeft {
    background: #f1f1f1;
    border-left: 1px solid #999;
}

.clearlooks2 .mceMiddle .mceRight {
    background: #f1f1f1;
    border-right: 1px solid #999;
}

.clearlooks2 .mceBottom {
    background: #f1f1f1;
    border-bottom: 1px solid #999;
}

.clearlooks2 .mceBottom .mceLeft {
    background: #f1f1f1;
    border-bottom: 1px solid #999;
    border-left: 1px solid #999;
}

.clearlooks2 .mceBottom .mceCenter {
    background: #f1f1f1;
    border-bottom: 1px solid #999;
}

.clearlooks2 .mceBottom .mceRight {
    background: #f1f1f1;
    border-bottom: 1px solid #999;
    border-right: 1px solid #999;
}

.clearlooks2 .mceFocus .mceTop span {
    color: #e5e5e5;
}

.clearlooks2 .mceMiddle .mceLeft,
.clearlooks2 .mceMiddle .mceRight { background: #EEE !important; }

/* Distraction Free Editor - Overlay Styles */
.fullscreen-overlay {
    z-index: 149999;
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #f9f9f9;
    filter: inherit;
}

.fullscreen-active .fullscreen-overlay,
.fullscreen-active #wp-fullscreen-body {
    display: block;
}

.fullscreen-fader {
    z-index: 200000;
}

.fullscreen-active .fullscreen-fader {
    display: none;
}

/* Distraction Free Editor - Overlay Body */
#wp-fullscreen-body {
    width: 100%;
    z-index: 150005;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

#wp-fullscreen-wrap {
    margin: 0 auto 50px;
    position: relative;
    padding-top: 60px;
}

#wp-fullscreen-title {
    font-size: 1.7em;
    line-height: 100%;
    outline: medium none;
    padding: 6px 7px;
    width: 100%;
    margin-bottom: 30px;
}

#wp-fullscreen-container {
    padding: 4px 10px 50px;
}

#wp-fullscreen-title,
#wp-fullscreen-container {
    -moz-border-radius: 0;
    -khtml-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    border: 1px dashed transparent;
    background: transparent;
    -moz-transition-property: border-color;
    -moz-transition-duration: 0.6s;
    -webkit-transition-property: border-color;
    -webkit-transition-duration: 0.6s;
    -o-transition-property: border-color;
    -o-transition-duration: 0.6s;
    transition-property: border-color;
    transition-duration: 0.6s;
}


#wp_mce_fullscreen {
    width: 100%;
    min-height: 300px;
    border: 0;
    background: transparent;
    line-height: 1.6em;
    padding: 0;
    overflow-y: hidden;
    outline: none;
    resize: none;
}

#wp-fullscreen-tagline {
    color: #BBBBBB;
    font-size: 18px;
    float: right;
    padding-top: 5px;
}

/* Distraction Free Editor - Top bar */
#fullscreen-topbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 150050;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    min-width: 800px;
    width: 100%;
    height: 40px;
    border-bottom-color: #DFDFDF;
    background-color: #eee;
    background-image: -ms-linear-gradient(top, #f4f4f4, #e9e9e9); /* IE10 */
    background-image: -moz-linear-gradient(top, #f4f4f4, #e9e9e9); /* Firefox */
    background-image: -o-linear-gradient(top, #f4f4f4, #e9e9e9); /* Opera */
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f4f4f4), to(#e9e9e9)); /* old Webkit */
    background-image: -webkit-linear-gradient(top, #f4f4f4, #e9e9e9); /* new Webkit */
    background-image: linear-gradient(top, #f4f4f4, #e9e9e9); /* proposed W3C Markup */
}

#wp-fullscreen-toolbar {
    padding: 6px 10px 0;
    clear: both;
    max-width: 1100px;
    min-width: 820px;
    margin: 0 auto;
}

#wp-fullscreen-mode-bar,
#wp-fullscreen-button-bar,
#wp-fullscreen-close,
#wp-fullscreen-count,
#wp-fullscreen-save,
#wp-fullscreen-buttons > div {
    float: left;
}

#wp-fullscreen-save {
    padding: 2px 2px 0 5px;
}

#wp-fullscreen-count,
#wp-fullscreen-close {
    padding-top: 5px;
}

#wp-fullscreen-central-toolbar {
    margin: auto;
    padding: 0;
}

#wp-fullscreen-mode-bar {
    padding: 1px 14px 0 0;
}

#wp-fullscreen-modes a {
    display: block;
    font-size: 11px;
    text-decoration: none;
    float: left;
    margin: 1px 0 0 0;
    padding: 2px 6px 2px;
    border-width: 1px 1px 1px 0;
    border-style: solid;
    border-color: #bbb;
    color: #777;
    text-shadow: 0 1px 0 #fff;
    background-color: #f4f4f4;
    background-image: -moz-linear-gradient(bottom,  #e4e4e4,  #f9f9f9);
    background-image: -webkit-gradient(linear, left bottom, left top, from(#e4e4e4), to(#f9f9f9));
}

#wp-fullscreen-modes a:hover,
.wp-html-mode #wp-fullscreen-modes a:last-child,
.wp-tmce-mode #wp-fullscreen-modes a:first-child {
    color: #333;
    border-color: #999;
    background-color: #eee;
    background-image: -moz-linear-gradient(bottom,  #f9f9f9,  #e0e0e0);
    background-image: -webkit-gradient(linear, left bottom, left top, from(#f9f9f9), to(#e0e0e0));
}

#wp-fullscreen-modes a:first-child {
    border-width: 1px;
    -moz-border-radius: 3px 0 0 3px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -khtml-border-top-left-radius: 3px;
    -khtml-border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

#wp-fullscreen-modes a:last-child {
    -moz-border-radius: 0 3px 3px 0;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -khtml-border-top-right-radius: 3px;
    -khtml-border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

#wp-fullscreen-buttons a {
    color: #AAA;
}

#wp-fullscreen-buttons .active a {
    background: inherit;
}

#wp-fullscreen-buttons .hidden,
.wp-html-mode #wp-fullscreen-buttons div {
    display: none;
}

#wp-fullscreen-buttons .disabled {
    opacity: 0.5;
}

.wp-html-mode #wp-fullscreen-buttons div.wp-fullscreen-both {
    display: block;
}

#fullscreen-topbar.fullscreen-make-sticky {
    display: block !important;
}

#wp-fullscreen-save img {
    vertical-align: middle;
}

#wp-fullscreen-save img,
#wp-fullscreen-save span {
    padding-right: 4px;
    display: none;
}

#wp-fullscreen-buttons .mce_image .mce_image {
    /* I know, it won't work */
    background-image: url("/wp-admin/images/menu.png");
    background-position: -124px -38px;
}

#wp-fullscreen-buttons .mce_image .mce_image:hover {
    background-position: -124px -6px;
}

/* Thickbox Adjustments */
.fullscreen-active #TB_overlay {
    z-index: 150100;
}

.fullscreen-active #TB_window {
    z-index: 150102;
}

/* TinyMCE Adjustments */
#wp_mce_fullscreen_ifr {
    background: transparent;
}

#wp_mce_fullscreen_parent #wp_mce_fullscreen_tbl tr.mceFirst {
    display : none;
}

#wp-fullscreen-container .wp_themeSkin table td {
    vertical-align: top;
}

.wp-fullscreen-focus #wp-fullscreen-title,
.wp-fullscreen-focus #wp-fullscreen-container {
    border-color: #ccc;
}

.wp_themeSkin span a {
    color: inherit;
}

.wp_themeSkin span.mce_bullist {
    background-position: -40px -20px;
}

.wp-dialog {
    background-color: #FFF;
}

/* CSS 3 transitions */
.fade-1000 {
    opacity: 0;
    -moz-transition-property: opacity;
    -moz-transition-duration: 1s;
    -webkit-transition-property: opacity;
    -webkit-transition-duration: 1s;
    -o-transition-property: opacity;
    -o-transition-duration: 1s;
    transition-property: opacity;
    transition-duration: 1s;
}

.fade-600 {
    opacity: 0;
    -moz-transition-property: opacity;
    -moz-transition-duration: 0.6s;
    -webkit-transition-property: opacity;
    -webkit-transition-duration: 0.6s;
    -o-transition-property: opacity;
    -o-transition-duration: 0.6s;
    transition-property: opacity;
    transition-duration: 0.6s;
}

.fade-400 {
    opacity: 0;
    -moz-transition-property: opacity;
    -moz-transition-duration: 0.4s;
    -webkit-transition-property: opacity;
    -webkit-transition-duration: 0.4s;
    -o-transition-property: opacity;
    -o-transition-duration: 0.4s;
    transition-property: opacity;
    transition-duration: 0.4s;
}

.fade-300 {
    opacity: 0;
    -moz-transition-property: opacity;
    -moz-transition-duration: 0.3s;
    -webkit-transition-property: opacity;
    -webkit-transition-duration: 0.3s;
    -o-transition-property: opacity;
    -o-transition-duration: 0.3s;
    transition-property: opacity;
    transition-duration: 0.3s;
}

.fade-trigger {
    opacity: 1;
}

/* Formbuilder things */
.frmb .opt_group .fields > input,
.frmb .opt_group .fields > label { display: none !important; }
.frmb-submit { display: none; }
.frm-elements >.frm-fld { display: none; }
.formbuilder-control-box { margin-top: 10px; }
.frm-elements .false-label { margin-left: 0; font-weight: bold; }