<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ page.title }} &bull; {{ site.title }}</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/custom.css">

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ site.uri }}">{{ site.title }}</a></h1>
        <h4>{{ site.tagline }}</h4>
        <p class="view">
          <img class="face" src="{{ site.face }}" alt="{{ site.face_alt }}">
          {{ site.intro }}
        </p>
        <ul class="links">
          <li>{{ site.button_left }}</li>
          <li>{{ site.button_mid }}</li>
          <li>{{ site.button_right }}</li>
        </ul>
      </header>
      <section>

        {{ content }}

      </section>
      <footer>
      <p>
        <small>{{ site.copyright_note }}</small>
        <br>
        <small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small>.
      </p>
      </footer>
    </div>
    <a href="https://github.com/Courseware/buddypress-courseware"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>
    <script src="/assets/js/scale.fix.js"></script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-28875212-1']);
      _gaq.push(['_trackPageview']);

      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();
     </script>
  </body>
</html>
